@import "tailwindcss";

@theme {
  --color-brand: #3294F8;
  --color-base-title: #E7EDF4;
  --color-base-subtitle: #C4D4E3;
  --color-base-text: #AFC2D4;
  --color-base-span: #7B96B2;
  --color-base-label: #3A536B;
  --color-base-border: #1C2F4D;
  --color-base-post: #112131;
  --color-base-profile: #0B1B2B;
  --color-base-background: #071422;
  --color-base-input: #040F1A;

  --font-nunito: 'Nunito', sans-serif;
}